<?xml version="1.0"?>

<configuration>
  <location path="ColdDrinksReport.aspx">
    <system.web>
      <authorization>
        <allow roles="DWSAdmin,DFSManager,DFSOperator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="109CouponsTotalReport.aspx">
    <system.web>
      <authorization>
        <allow roles="DWSAdmin,DFSManager,DFSOperator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

	<location path="CouponUsageReport.aspx">
		<system.web>
			<authorization>
				<allow roles="DWSAdmin,DFSOperator"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
  <location path="BreakfastExpensesReport.aspx">
    <system.web>
      <authorization>
        <allow roles="DWSAdmin,DFSManager,DFSOperator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ExpenseReport.aspx">
    <system.web>
      <authorization>
        <allow roles="DWSAdmin,DWSGuest,DWSStaff,DWSUnpaidIntern,DWITAdmin,DWITGuest,DWITStaff,DWITStudent,DWITFaculty,DWTTAdmin,DWTTGuest,DWTTStaff,DCAdmin,DCGuest,DCStaff,DSSAdmin,DSSStaff,DSSStudent,KPAdmin,KPStaff,DWCAdmin,DWCStaff,DeerHoldStaff,DeerHoldAdmin,SmartIdeasAdmin,SmartIdeasStaff"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="DinnerExpenseReport.aspx">
    <system.web>
      <authorization>
        <allow roles="DWSAdmin,DFSManager,DFSOperator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="DinnerReport.aspx">
    <system.web>
      <authorization>
        <allow roles="DWSAdmin,DFSManager,DFSOperator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="FreeFoodReport.aspx">
    <system.web>
      <authorization>
        <allow roles="DWSAdmin,DFSManager,DFSOperator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="HotDrinksReport.aspx">
    <system.web>
      <authorization>
        <allow roles="DWSAdmin,DFSManager,DFSOperator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="SalesReport.aspx">
    <system.web>
      <authorization>
        <allow roles="DWSAdmin,DFSManager,DFSOperator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="DeliveredItemsReport.aspx">
    <system.web>
      <authorization>
        <allow roles="DWSAdmin,DFSManager,DFSOperator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>