<?xml version="1.0"?>
<connectionStrings>
  <add name="DFSConnectionString" connectionString="Server=dotnet-deerwalk;Database=DFS_Test;UID=sa;PWD=*SQLServer@2012#;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>
</connectionStrings>

<!--<connectionStrings>
  <add name="DFSConnectionString" connectionString="Server=WIN-HHEHAH10FBK;Database=EMS-CMS;UID=sa;PWD=*SQLServer@2012#;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>
</connectionStrings>-->
