<?xml version="1.0"?>
<connectionStrings>
  <add name="DFSConnectionString" connectionString="Server=dotnet-deerwalk;Database=DFS_Prod_26July2019;UID=sa;PWD=*SQLServer@2012#; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
</connectionStrings>

                                                     