<?xml version="1.0"?>

<configuration>
  <location path="Holiday.aspx">
    <system.web>
      <authorization>
        <allow roles="DWSAdmin"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="NepaliMonthSetting.aspx">
    <system.web>
      <authorization>
        <allow roles="DWSAdmin"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Notifications.aspx">
    <system.web>
      <authorization>
        <allow roles="DWSAdmin"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <authorization>
      <allow roles="DWSAdmin,DWITAdmin,DWTTAdmin,DCAdmin,DSSAdmin,KPAdmin,DWCAdmin,DeerHoldAdmin,SmartIdeasAdmin"/>
      <deny users="*"/>
    </authorization>
  </system.web>
</configuration>