<?xml version="1.0"?>
<configuration>
  <location path="UserDeposit.aspx">
    <system.web>
      <authorization>
        <allow roles="DSSAdmin,DSSStudent"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="AddDeposit.aspx">
    <system.web>
      <authorization>
        <allow roles="DSSAdmin"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="StudentBalance.aspx">
    <system.web>
      <authorization>
        <allow roles="DSSAdmin"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="Transactions.aspx">
    <system.web>
      <authorization>
        <allow roles="DSSAdmin,DSSStudent"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <system.web>
    <authorization>
      <allow roles="DSSAdmin,DWSAdmin"/>
      <deny users="*"/>
    </authorization>
  </system.web>
</configuration>
